<navbar class="navbar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/category/guitars/create">Add new Guitar</a>
        </li>
        <li>
            <a href="/category/pianos/create">Add new Piano</a>
        </li>
        <li>
            <a href="/category/violins/create">Add new Violin</a>
        </li>
    </ul>
</navbar>