<navbar class="navbar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <hr>
        <li>
            <a href="/category/guitar/create">Add new Guitar</a>
        </li>
        <hr>
        <li>
            <a href="/category/paino/create">Add new Piano</a>
        </li>
        <hr>
        <li>
            <a href="/category/violin/create">Add new Violin</a>
        </li>
        <hr>
        <li>
            <a href="/category/brand/create">Add new Brand</a>
        </li>
    </ul>
</navbar>