<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/guitar_list.css' />
  </head>
  <body>
    <header>
        <h1 class="title-store"><%- title %></h1>
    </header>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
