<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/header.js" defer></script>
  </head>
  <body>
    
    <div class="about-container section-container">
      <header >
        <h1 id="header" class="title-store">
          <svg class="svg-menu" style="width:50px;height:50px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>
          <svg class="svg-menu close-menu" style="width:50px;height:50px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z" />
        </svg>
          Music Instruments
        </h1>
      </header>
      <h2 class="about home-page-sections" id="about">About us...</h2>
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nisi ligula, 
        dignissim eu nibh eu, ullamcorper ultricies ex. Cras malesuada molestie odio, 
        sit amet elementum mi aliquet vitae. Integer interdum posuere massa, sed gravida
        orci luctus nec. Integer mollis mi neque, et congue lectus cursus non. 
        Quisque sit amet sem.
      </p>
    </div>
    <div class="category-container section-container">
      <h2 class="about home-page-sections">Categories</h2>
      <div class="category-cards-container">
        <a href="/category/guitars" class="card-category">
          <div class="a-text">Guitars</div>
          <img class="image-category" src="images/Guitar.jpg" alt="Guitar">
        </a>
        <a href="/category/pianos" class="card-category">
          <div class="a-text">Pianos</div>
          <img class="image-category" src="images/Piano.jpg" alt="Piano">
        </a>
        <a href="/category/violins" class="card-category">
          <div class="a-text">Violins</div>
          <img class="image-category" src="images/Violin2.jpg" alt="Violin">
        </a>
      </div>
    </div>
    

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
