@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
}

html {
  width: 100%; height:100%; 
  display: flex; flex-flow: column;
  flex: 1;
}

body {
  width: 100%; height:100%; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex; flex-flow: column;
  align-items: center; justify-content: space-between;
  background-color: rgb(179, 54, 54);
  padding: 0px;
  margin: 0px;
}

footer {
  width: 100%;
  padding: 20px 0px;
  font-size: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

a {
  color: #00B7FF;
}

p{
  font-size: 24px;
  text-align: justify;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
    background-color: black;
    color: white;
  }
  
  header .title-store {
    font-size: 100px;
    letter-spacing: 2px;
    margin: 0px;
    padding: 10px;
  }

  .no-guitars {
    font-size: 30px;
  }
  
  .item_list_container {
    display: flex; flex-flow: column;
    align-items: center;
    width: 100%;
    flex: 1;
    background-color: white;
    padding: 40px 0px;
  }

  .description-category{
    padding: 0px 100px;
  }

  h2 {
    font-size: 60px;
    margin: 10px 0px;
  }

  .item_list_container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(280px, 280px));
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
  }

.card-item {
  height: 280px;
  width: 300px;
  background-color: #cccccc;
  display: flex; flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 10px 10px;
  position: relative;
  transition: transform 250ms ease-in-out;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-item:hover{
  transform: scale(1.1);
}

.dollar {
  font-size: 22px;
}

.card-category{
  display: flex;
  align-items: center;
} 

#image-category {
  width: 48%;
  height: 100%;
  position: relative;
}

a{
  color: black;
}

/* Contenido de la carta */
.card-category {
  font-size: 20px;
  text-align: center;
}

.info-instrument {
  display: flex; flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.item-name {
  font-size: 30px;
}

.svg-delete-update{
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 15px;
  top: 8px;
  width: 65px;
  opacity: 0;
  transition: opacity 250ms ease-in-out 0s;
}

.card-item:hover > div {
  opacity:1;
}

a {
  cursor: pointer;
  z-index: 11;
}

.svg-uptadeDelete:hover {
  color: rgb(29, 29, 29);
}

@media (max-width: 360px) {
  .card-item {
    height: 230px;
    width: 250px;
  }

  .item_list_container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-template-rows: repeat(auto-fit, minmax(230px, 230px));
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
  }
}