@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
}

html {
  width: 100%; height:100%; 
  display: flex; flex-flow: column;
  flex: 1;
}

body {
  width: 100%; height:100%; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex; flex-flow: column;
  align-items: center; justify-content: space-between;
  background-color: rgb(179, 54, 54);
  padding: 0px;
  margin: 0px;
}

footer {
  width: 100%;
  padding: 20px 0px;
  font-size: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

a {
  color: #00B7FF;
}

p{
  font-size: 24px;
  text-align: justify;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
    background-color: black;
    color: white;
  }
  
  header .title-store {
    font-size: 100px;
    letter-spacing: 2px;
    margin: 0px;
    padding: 10px;
  }

  .no-guitars {
    font-size: 30px;
  }
  
  .item_list_container {
    display: flex; flex-flow: column;
    align-items: center;
    width: 100%;
    flex: 1;
    background-color: white;
    padding: 40px 100px;
  }

  .description-category{
    padding: 0px 100px;
  }

  h2 {
    font-size: 60px;
    margin: 10px 0px;
  }

  .item_list_container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,300px));
    grid-template-rows: repeat(auto-fit, minmax(300px, 300px));
    gap: 30px;
    width: 100%;
    height: 100%;
  }

.card-item {
  height: 300px;
  width: 300px;
  background-color: #cccccc;
  display: flex; flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 20px 10px;
}

  .dollar {
    font-size: 22px;
  }

.card-category{
  display: flex;
  align-items: center;
} 

#image-category {
  width: 50%;
  height: 100%;
  position: relative;
}

a{
  color: black;
}

/* COntenido de la carta */
.card-category {
  font-size: 20px;
  text-align: center;
}

.info-instrument {
  display: flex; flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.item-name {
  font-size: 30px;
}