@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

html {
  width: 100%; height:100%; 
  display: flex; flex-flow: column;
  flex: 1;
}

body {
  width: 100%; height:100%; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex; flex-flow: column;
  align-items: center; justify-content: space-between;
  background-color: rgb(179, 54, 54);
  padding: 0px;
  margin: 0px;
}

footer {
  width: 100%;
  padding: 20px 0px;
  font-size: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

a {
  color: #000000;
}

p{
  font-size: 24px;
  text-align: justify;
}

header{
  width: 100%;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}

header .title-store {
  font-size: 100px;
  min-height: 130px;
  letter-spacing: 2px;
  margin: 0px;
  padding: 10px;
  width: 100%;
  transition: all 250ms ease-in-out 0s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.svg-menu {
  position: absolute;
  left: 50px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.close-menu {
  display: none
}

.home-page-sections {
  color: rgb(255, 255, 255);
}

.section-container{
  display: flex; flex-flow: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 30px 0px; /*Aplica a todas las secciones*/
}

.about-container {
  background: url("/images/backgroundImage.jpg") no-repeat fixed 100%;
  padding: 20px 0px; /*Aplica a sección de about*/
  padding-top: 0px;
  padding-bottom: 50px;
  color: white;
}

.about-text{
  padding: 0px 80px; /*Aplica a sección de about*/
}

.category-container {
  background-color: rgb(179, 54, 54);
}

.category-container .category-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  grid-template-rows: repeat(auto-fit, minmax(150px, 150px));
  row-gap: 60px; column-gap: 20px;
  align-items: center; justify-content: space-evenly;
  width: 100%; height: 100%;
  padding: 0px;
  margin: 24px 0px;
}

.category-cards-container .card-category {
  height: 180px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center; justify-content: center;
  transition: transform 250ms ease-in-out 0s;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: 2;
}

.category-cards-container .card-category:hover{
  transform: scale(1.1);
}

img{
  position: absolute;
  width: 100%; height: 100%;
  z-index: 1;
  opacity: 0.9;
}

.a-text{
  z-index: 10;
  color: wheat;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 3px;
}

.home-page-sections { /* Titulo de las secciones */
  font-size: 60px;
  margin: 20px 0px;
}

.container-about-text {
  width: 100%;
  display: flex;
}

.navbar {
  font-size: 26px;
  position: absolute;
  right: 100%;
  top: 100%;
  background-color: #d6d6d6;
  padding-right: 50px;
  border-end-end-radius: 10px;
  border-top-right-radius: 10px;
  width: 250px;
  transition: transform 250ms ease-in-out 0s;
}

@media (max-width: 850px) {
  .header-text {
    padding-left: 120px;
    font-size: 80px;
  }
}

@media (max-width: 640px) {
  .header-text {
    padding-left: 120px;
    font-size: 60px;
  }

  .svg-menu {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 520px) {
  .header-text {
    font-size: 46px;
  }
}
